<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--关于上传的数据库表-->
<mapper namespace="net.noyark.top.mapper.UploadMapper">
    <insert id="insertImage">
        INSERT
        INTO
            images
        VALUES(
            NULL,
            ${path},
            ${tid},
            ${name},
            ${description},
            0
        );
    </insert>
    <update id="deleteImage">
        UPDATE
            images
        SET
            deleted = 1
        WHERE
            id=${id};
    </update>
    <update id="deleteTop">
        UPDATE
            tops
        SET
            deleted = 1
        WHERE
            id=${id};
    </update>
    <update id="deleteUser">
        UPDATE
            users
        SET
            deleted = 1
        WHERE
            id=${id};
    </update>
    <insert id="registerUser">
        INSERT INTO
            users
        VALUES
            (
                NULL,
                ${password},
                ${salt},
                ${username},
                ${username},
                0
            )
    </insert>
    <select id="getSaltById" resultType="java.lang.String">
        SELECT
            salt
        FROM
            users
        WHERE
            id = ${id};
    </select>

    <select id="searchUser">
        SELECT
            *
        FROM
            users
        WHERE
            name = ${name}
        AND
            password = ${password};
    </select>

    <select id="searchUserByName">
        SELECT
            *
        FROM
            users
        WHERE
            name = ${name};
    </select>

    <update id="modifyUser">
        UPDATE
            users
        SET
            password = ${password}
        WHERE
            name = ${name}
    </update>

    <insert id="addTop">
        INSERT
            tops
        VALUES
            (
                NULL,
                ${name},
                ${description}
            )
    </insert>
</mapper>