<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--关于上传的数据库表-->
<mapper namespace="net.noyark.top.mapper.UploadMapper">
    <insert id="insertImage">
        INSERT
        INTO
            images
        VALUES(
            NULL,
            ${path},
            ${tid},
            ${name},
            ${description}
            0
        );
    </insert>
</mapper>